<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Language Learners</title>
</head>
<body>
	<div class="container">
		<h1>
			Difficulty
		</h1>
    <p>
      Please select your preferred level of difficulty.
    </p>
		<div class="container">
			<div class="btn-group" role="group" aria-label="Basic example">
			  <button type="button" class="btn btn-primary">Easy</button>
			  <button type="button" class="btn btn-primary">Medium</button>
			  <button type="button" class="btn btn-primary">Hard</button>
			</div>
		</div>
		<a type="button" class="btn btn-link btn-lg" href="/index">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span>Back</span>
		</a>
	</div>
</body>
</html>
