<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Language Learners</title>
</head>
<body>
	<div class="container text-center">
		<h1>Language Learners</h1>
		<div id="buttons" class="container">
			<div class="row">
				<div class="col-xs-6">
					<a type="button" class="btn btn-link btn-lg" href="/interests">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						Interests
					</a>
				</div>
				<div class="col-xs-6">
					<a type="button" class="btn btn-link btn-lg" href="/storyboards">
						<span class="glyphicon glyphicon-book"></span>
						Storyboards
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a type="button" class="btn btn-link btn-lg" href="/words">
						<span class="glyphicon glyphicon-search"></span>
						Words
					</a>
				</div>
				<div class="col-xs-6">
					<a type="button" class="btn btn-link btn-lg" href="/difficulty">
						<span class="glyphicon glyphicon-signal"></span>
						Difficulty
					</a>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-link btn-lg">
			Logout
		</button>
	</div>
</body>
</html>
