<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Language Learners</title>
</head>
<body>
	<div class="container">
		<h1>
			Interests
		</h1>
    <p>
      This is where users would edit storyboard topic preferences.
    </p>
		<div class="container-fluid text-center grid">
			<div class="row top_row">
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/interests">
						<span class="icon glyphicon glyphicon-road"></span>
						<p>slider</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/storyboards">
						<span class="icon glyphicon glyphicon-music"></span>
						<p>slider</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/storyboards">
						<span class="icon glyphicon glyphicon-cutlery"></span>
						<p>slider</p>
					</a>
				</div>
			</div>
			<div class="row bottom_row">
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/words">
						<span class="icon glyphicon glyphicon-search"></span>
						<p>slider</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/difficulty">
						<span class="icon glyphicon glyphicon-pencil"></span>
						<p>slider</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a type="button" class="btn btn-link btn-lg" href="/storyboards">
						<span class="icon glyphicon glyphicon-flag"></span>
						<p>slider</p>
					</a>
				</div>
			</div>
		</div>
		<a type="button" class="btn btn-link btn-lg" href="/">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span>Back</span>
		</a>
	</div>
</body>
</html>
