<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Language Learners</title>
  </head>
  <body>
    <div class="login-box text-center">
      <h2>Language Learners</h2>
      <form>
        <div class="form-group">
          <label for="user-email">Email address</label>
          <input type="email" class="form-control" id="user-email" aria-describedby="email" placeholder="username@example.com">
        </div>
        <div class="form-group">
          <label for="user-password">Password</label>
          <input type="password" class="form-control" id="user-password" placeholder="abcd1234">
        </div>
        <div class="form-check text-right">
          <input type="checkbox" class="form-check-input" id="remember">
          <label class="form-check-label" for="remember">Remember login?</label>
        </div>
        <a id="login" type="button" class="btn btn-primary btn-lg" href="/index">Log-in</a>
        <button type="button" class="btn btn-secondary btn-lg">Sign-up</a>
      </form>
    </div>
  </body>
</html>
