<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/storyboard.css">
		<link rel="stylesheet" href="css/materialize.css">
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/storyboards.js"></script>
		<script src="js/materialize.js"></script>

		<title>Language Learners</title>
	</head>
	<body>
		<div class="container">
			<h1>Stories</h1>
			<p>
				Choose an interest you specified and read up!
				Try figuring out what the word means from context,
				and you can always navigate to the word list for help.
			</p>
			<div class="container">
				<div id="overlay" onclick="off()">
					<div id="text">
					</div>
				</div>
				<div class="row">
					<div class="col s1 m2 offset-m2 ">
						<h5><strong>Story:</strong></h5>
					</div>
					<div class="col s8 m5 offset-s3">
						<select class="dropdown-button btn" id="interests" onchange="initializePage()">
							{{#each Interests}}
							<option class="dropdown-content" value={{id}}>{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
 				<div class="row" id="titlediv"> 
 					<div class="col s11 m9 offset-m2 offset-s1">
					<p><em><strong class="storytitle" id="titlestrong"></strong></em></p>
					</div>
				</div>
				<div class="row">
					<div class="container story">
						<p>This is where the text will go. The text will consist of a story that relates to the topic of interest chosen above.</p>
					</div>
				</div>
				<div class="row">
					<div class="col s12"> 
						<ul class="tabs"> 
							<li class="tab col s5 m4" onclick="location.href='/index'"><a> Homepage </a></li>
							<li class="tab col s5 m4" onclick="initializePage()"><a id="next" href="#"> 
							Next Story </a></li>
							<li class="tab col s5 m4 popup" onclick="on()"><a href="#"> Word List </a></li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
