<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Language Learners</title>
</head>
<body>
	<div class="container">
		<h1>
      Storyboards
		</h1>
    <p>
      This is where users would be reading storyboards.
    </p>
		<a type="button" class="btn btn-link btn-lg" href="/">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span>Back</span>
		</a>
	</div>
</body>
</html>
