<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/storyboard.css">
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/storyboards.js"></script>

		<title>Language Learners</title>
	</head>
	<body>
		<div class="container">
			<h1>
				Stories
			</h1>
			<p>
				Choose an interest you specified and read up! Try figuring out what the word means from context, and you can always navigate to the word list for help.
			</p>
			<div class="container">
				<div id="overlay" onclick="off()"> 
					<div id="text">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<p><strong>Story:</strong></p>
					</div>
						<div class="col-xs-6">
						<select id="interests" onchange="initializePage()">

							{{#each Interests}}
							<option value={{id}}>{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="container story">
						<p>This is where the text will go. The text will consist of a story that relates to the topic of interest chosen above.</p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-xs-4">
						<a type="button" class="btn btn-link btn-lg" href="/index">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span>Back</span>
						</a>
					</div>
					<div class="col-xs-4" onclick="initializePage()">
						<a id="next" type="button" class="btn btn-link btn-lg" href="#">
							<span class="glyphicon glyphicon-book"></span>
							<span>Next Story</span>
						</a>
					</div>
					<div id="words" class="col-xs-4 popup" onclick="on()">
						<a type="button" class="btn btn-link btn-lg" href="#">
							<span class="glyphicon glyphicon-list-alt"></span>
							<span>Word List</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
