<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/bootstrap.css">

	<link rel="stylesheet" href="css/materialize.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="js/words.js" charset="utf-8"></script>
	<script src="js/materialize.js"></script>
	<title>Language Learners</title>
</head>
<body>
	<div class="container ">
		<h1>Words</h1>
    <p>Here is the complete list of words you may come across in your stories.</p>
		<form class="form-inline">
			<input class=" col form-control s12" onkeyup="changeWords()" type="search"
			placeholder="Search for an English or Spanish word..." aria-label="Search" id="wordSearch">
		</form>
		<div class="container vocab">
			<ul class="collection" id="words">
				{{#each words}}
				<li class="collection-item"><strong>{{word}}:</strong> {{meaning}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="container text-center" style="margin-top:6px;">
		<a type="button" class="btn btn-link btn-lg" href="/index" style="background-color: #EE6E73;">
			<p style="color:white;">Homepage</p>
		</a>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-114658330-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
