<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<title>Language Learners</title>
</head>
<body>
	<div class="container">
		<h1>
			Words
		</h1>
    <p>
      This is where users will view the words they have learned.
    </p>
		<a type="button" class="btn btn-link btn-lg" href="/">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Back
		</a>
	</div>
</body>
</html>
