<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/materialize.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="js/words.js" charset="utf-8"></script>
		<script src="js/materialize.js"></script>
		<title>Spanglish</title>
	</head>
	<body  style="background-color: #e0F2f1;">
		<div class="container">
			<h1>Words</h1>
			<form class="form-inline">
				<input class=" col form-control s12" onkeyup="changeWords()" type="search"
				placeholder="Search for an English or Spanish word..." aria-label="Search" id="wordSearch">
			</form>
			<div class="row vocab" >
				<ul class="collection" id="words" style="background-color: #EE6E73;">
					{{#each words}}
					<li class="collection-item"><strong>{{word}}:</strong> {{meaning}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="container text-center" style="margin-top:6px;">
			<a type="button" class="btn btn-link btn-lg" href="/index" style="background-color: #EE6E73;">
				<p style="color:white;">Homepage</p>
			</a>
		</div>
	</body>
</html>
