

.switchcustom {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchcustom input {display:none;}

.slidercustom {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slidercustom:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slidercustom {
  background-color: #4DB6AC;
}

input:focus + .slidercustom {
  box-shadow: 0 0 1px #4DB6AC;
}

input:checked + .slidercustom:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slidercustom.roundcustom {
  border-radius: 34px;
}

.slidercustom.roundcustom:before {
  border-radius: 50%;
}

#submitBtn {
  color: black;
  box-sizing: border-box;
  margin-bottom: 1%;
}

.top-margined {
  margin-top: 150px;
}

 @media (max-width: 400px) {
  #Medium2 {
  margin-left: -40%; 
}
#Hard2 {
  margin-left: -10%;
}
} 



