/* Page Header */
h1 {
  font-size:  6em;
}

/* Fix for weird view on desktop browsers */
@media (max-width: 992px) {
  h1 {
    padding-top: 33%;
  }
}

/* Info boxes and buttons */
p,span {
  color: black;
  font-size: 2em;
}

/* Grid for home page, and interests page */
.grid {
  height:  50%;
  margin: 50px auto;
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
}

.grid2 {
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
}

/* Big Icon */
.icon {
  font-size: 5em;
}

/* Row spacing classes for grid class */
.top_row {
  margin-bottom: 30px;
}

.middle_row {
  margin-top: 30px;
  margin-bottom:  30px;
}

.bottom_row {
  margin-top:  30px;
}

.story {
  border-style: solid;
<<<<<<< HEAD
  text-align: center;
  height: 50%;
=======
  text-align:center;
  height: 60%;
  margin-left: 5%;
  margin-top:2%;
  margin-bottom:2%;
>>>>>>> e40f300a5184bb737700aa56fc9140c6ba65712f
   /* border-color: #117864;
  background-color: #AED6F1;*/
}

<<<<<<< HEAD
#interests {
=======
.back-btn {
  font-size: 1em;
}

.next-btn {
    font-size: 1em;

}

.word-btn {
    font-size: 1em;
}

.interests {
  margin-top: 20%;
>>>>>>> e40f300a5184bb737700aa56fc9140c6ba65712f
  font-size: 2em;
  border: 1px solid #ccc;
  width: auto;
}
<<<<<<< HEAD
=======

.storytitle {
  padding-left:5%;
}

@media (max-width:  767px) {
.buttonoverlap {
  font-size: 0.5em;
}
.titlemobile {
  font-size: 2em;
}

.textmobile {
  font-size: 1em;
}

.interests {
  margin-top: 50%;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 100px;
}

}
>>>>>>> e40f300a5184bb737700aa56fc9140c6ba65712f
