/* Page Header */
h1 {
  font-size:  6em;
}

/* Fix for weird view on desktop browsers */
@media (max-width: 992px) {
  h1 {
    padding-top: 33%;
  }
}

/* Info boxes and buttons */
p,span {
  color: black;
  font-size: 2em;
}

/* Grid for home page, and interests page */
.grid {
  height:  50%;
  margin: 50px auto;
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
}

/* Big Icon */
.icon {
  font-size: 5em;
}

/* Row spacing classes for grid class */
.top_row {
  margin-bottom: 30px;
}

.middle_row {
  margin-top: 30px;
  margin-bottom:  30px;
}

.bottom_row {
  margin-top:  30px;
}

.story {
  border-style: solid;
  text-align: center;
  height: 50%;
   /* border-color: #117864;
  background-color: #AED6F1;*/
}

#interests {
  font-size: 2em;
  border: 1px solid #ccc;
  width: auto;
}
